@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Work+Sans:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');



:root {
  --yellow: #f9ca24;
  --blue:#82ccdd;
  --red:#f9ca24;
  --green :#90EE90;

}

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--yellow);
  color: #333;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}
html::-webkit-scrollbar-track {
  background: #222;
}

html::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 8px;
}
html::-webkit-scrollbar-thumb:hover{
  background: #60a3bc;
}

body {
  background: #111;
  overflow-x: hidden;
  padding-left: 35rem;
}
section {
  min-height: 100vh;
  padding: 1rem;
}
/* .btn {
  padding: 0.7rem 2rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
}

.btn i {
  padding: 0rem 0.5rem;
  font-size: 1.8rem;
}

.btn:hover {
  background: var(--blue);
} */

.btn {
  background-color: #333;
  -webkit-border-radius: 60px;
  border-radius: 10px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 5px 15px;
  margin-top: 13px;
  text-align: center;
  text-decoration: none;
}
@keyframes glowing {
  0% {
    background-color: var(--blue);
    box-shadow: 0 0 5px var(--blue);
  }
  50% {
    background-color: var(--blue);
    box-shadow: 0 0 10px var(--blue);
  }

}
.btn {
  animation: glowing 3s infinite;
}
.btn:hover {
  background: var(--blue);
} 
.heading {
  text-align: center;
  margin: 0rem 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1rem solid #fff4;
  color: #fff;
}
.heading span {
  color: var(--red);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

header .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 35%;
  object-fit: cover;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border: 0.7rem solid var(--blue);
}
header .icons {
  color:#273c75;
  padding: 2rem 0rem 1rem 0rem;
}

header .icons i:hover{
  transform: scale(1.3);
}

header .user .name {
  font-size: 3.5rem;
  color: #fff;
}

header .user .post {
  font-size: 2rem;
  color: #fff;
}

header .navbar {
  width: 100%;
}

header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
}

header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: #333;
  color: #fff;
  font-size: 2rem;
  border-radius: 5rem;
}

header .navbar ul li a:hover {
  background: var(--blue);
  color:#273c75;
}

#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 15rem;
}
.home span {
  color: var(--red);
}

.home h3 {
  font-size: 2.5rem;
  color: #fff;
}

.home h1 {
  font-size: 5rem;
  color: #fff;
}

.home h1 span {
  color: var(--red);
}

.home p {
  font-size: 2rem;
  color: #fff;
  padding: 1rem 0;
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0rem;
}

.about .row .info {
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}

.about .row .info h3 {
  font-size: 2rem;
  color: var(--red);
  padding: 1rem 0rem;
  font-weight: normal;
}

.about .row .info h3 span {
  color: #eee;
  padding: 0 0.5rem;
}

.about .row .counter {
  flex: 1 1 48rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about .row .counter .box {
  width: 20rem;
  background: #222;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  border-radius: 5%;
}

.about .row .counter .box span {
  font-size: 4rem;
  color: var(--red);
}

.about .row .counter .box h3 {
  font-size: 2rem;
  color: #fff;
}

.education .box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 3rem;
}

.education .box-container .box {
  width: 27rem;
  margin: 5rem 3rem 2rem 5rem;
  padding-left: 4rem;
  border-left: 0.2rem solid #fff;
  position: relative;
}

.education .box-container .box span {
  font-size: 1.3rem;
  background: #222;
  color: #fff;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
}

.education .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding-top: 1.5rem;
}

.education .box-container .box p {
  font-size: 1.7rem;
  color: #eee;
  padding: 1rem 0;
}

.education .box-container .box i {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background: var(--red);
}

.skill{
  padding: 1.5rem 0 2.5rem 0;
}
.skill .row{
  margin: 1rem 0;
  color: whitesmoke;
}
.skill .item{
  padding: 0.5rem 0;
  margin: 0.3rem 0;
}
.skill .item-text{
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 1.3rem;
  position: relative;
}
.skill .item-text span:last-child{
  position: absolute;
}
.skill .item-text .w-90{
  margin-left: 85%;
}
.skill .item-text .w-80{
  margin-left: 75%;
}
.skill .item-text .w-70{
  margin-left: 65%;
}
.skill .item-text .w-80{
  margin-left: 75%;
}
.skill .item-text .w-60{
  margin-left: 55%;
}
.skill .item-text .w-87{
  margin-left: 82%;
}

.skill .item-text .w-74{
  margin-left: 69%;
}

.skill .item-text .w-78{
  margin-left: 73%;
}

.skill .item-text .w-68{
  margin-left: 63%;
}

.skill .item-text .w-86{
  margin-left: 81%;
}

.skill .item-text .w-75{
  margin-left: 70%;
}

.progress{
  margin: 0.8rem 0;
  margin-left: 50px;
  border-radius: 10px;
  height: 16px;
  width: 92%;
  background-color: #333;
  overflow: hidden;
}
.progress-bar{
  background: #0bceaf;
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.progress-bar.w-90{
  width: 90%;
}
.progress-bar.w-80{
  width: 80%;
}
.progress-bar.w-70{
  width: 70%;
}
.progress-bar.w-60{
  width: 60%;
}
.progress-bar.w-87{
  width: 87%;
}
.progress-bar.w-74{
  width: 74%;
}
.progress-bar.w-78{
  width: 78%;
}

.progress-bar.w-68{
  width: 68%;
}

.progress-bar.w-86{
  width: 86%;
}

.progress-bar.w-75{
  width: 75%;
}

.project .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.project .box-container .box {
  height: 20rem;
  width: 26rem;
  border-radius: 1rem;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.project .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project .box-container .box:hover img {
  transform: scale(1.2);
}

.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .row .content {
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
}

.contact .row .content span {
  color: var(--red);
  text-transform: uppercase;
}

.contact .row .content .info .lte {
  text-transform: lowercase;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

.contact .row form .box {
  padding: 1.5rem;
  margin: 1rem 0;
  background: #3333;
  color: #fff;
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
}
.contact .row form .box::placeholder {
  text-transform: capitalize;
}
.contact .row form .message {
  height: 15rem;
  resize: none;
}

.contact .row .content .title {
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.contact .row .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #eee;
  padding: 1rem 0;
  font-weight: normal;
}

.contact .row .content .info h3 i {
  padding-right: 1rem;
  color: var(--red);
}

.top {
  position: fixed;
  bottom: 7.5rem;
  right: 2rem;
  z-index: 100;
  display: none;
}

/* media queries */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .home {
    padding: 1rem 4rem;
  }
}

@media (max-width: 991px) {
  header {
    left: -120%;
  }

  #menu {
    display: block;
  }

  header.toggle {
    left: 0%;
  }
  body {
    padding: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  header {
    width: 100vw;
  }
  .heading {
    margin: 0rem 3rem;
  }

  .about .row .counter .box {
    width: 100%;
  }

  .education .box-container .box {
    width: 100%;
  }

  .portfolio .box-container .box {
    width: 100%;
  }

  .contact .row form {
    margin: 3rem 0;
  }
}
